@import "../../../scss/global";

.Dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 10px 12px;
    z-index: 4;
    border-radius: 10px;
    margin: 0 5rem;


    @media (max-width:600px) {
        & {
            margin: 0 1rem;
            // width: 100%;
            right: 0;
        }
    }

    a {
        color: black;
        padding: 10px 12px;
        text-decoration: none;
        display: block;
        font-size: 18px;
    }
}
