@import "../../../scss/global";

.Wrapper, .Overlay {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: unset no-repeat center center fixed; 
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.Overlay {
    background-color: rgba($color: #000000, $alpha: .3);
}

.PageContent {
    z-index: 1;
    margin: auto;
    margin-top: 15rem;
    max-width: 35rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    .PageContent__Title,
    .PageContent__Icon {
        text-align: center;
    }

    .ErrorMessage {
        color: $danger-color;
        text-align: center;
        display: block;
        padding: 5px 0;
        font-weight: bold;
    }

    .PageContent__Icon {
        display: block;
        font-size: 5rem;
    }

    .PageContent__Container {
        padding: 1rem 3rem;

        .PageContainer__Button {
            text-align: center;
            padding: 1rem 0;
        }
    }
}