@import "../../../../scss/global";

.DataGridItem {
    padding: 10px;

    * {
        display: block;
    }

    .DataGridItem__Key {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 12px;
        color: darken($color: $disable-color, $amount: 25);
    }
}