@import "../../../scss/global";

.Toolbar {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: $primary-color;
    color: $primary-text-color;
    position: fixed;
    width: 100%;
    display: flex;
    padding: 12px 1rem;
    z-index: 2;

    .Toolbar__Logo img {
        width: 220px;
    }

    .Toolbar__Profile {
        float: right;
        padding-top: 5px;
    }

    @media (max-width: 600px) {
        & .Toolbar__Profile {
            padding: 0;
        }
    }
}
