.PageTitle {
    display: flex;
    padding: 1.5rem 0;

    a {
        font-size: 1.8rem;
        margin-right: 1rem;
        color: #000;
    }

    h1 {
        padding: 0;
        margin: 0;
    }
}