@import "../../../scss/global";

.Button {
    border-radius: 10px;
    padding: 12px 21px;
    background-color: $secondary-color;
    color: $secondary-text-color;
    border: 0;
    outline: none;
    cursor: pointer;
    margin: 1px 5px;
    font-size: 16px;

    .Button__Icon {
        font-size: 1.5rem;
    }

    .Button__Text {
        display: inline-block;
        margin-bottom: 1rem;
    }
}

.Button:disabled {
    opacity: .7;
    cursor: not-allowed;
}

.Button:hover {
    background-color: rgba($color: $secondary-color, $alpha: 0.9);
}

.Button__Flat {
    background-color: transparent;
    color: $secondary-color;
    font-weight: bold;
    text-transform: uppercase;

    &.Danger {
        color: $danger-color;
    }

    &.Success {
        color: $success-color;
    }
}

.Button__Flat:hover {
    background-color: unset;
}