@import "../../../scss/global";

$activeColor: #ffffff;

.BottombarItem {
    list-style: none;
    a {
        display: flex;
        color: darken($color: $activeColor, $amount: 25);
        text-decoration: none;
        flex-flow: column;
        text-align: center;
        padding: 10px 12px;

        * {
            display: block;
        }
    }

    &.Active {
        a {
            color: $secondary-color;
        }
    }
}

.NavigationItem {
    a {
        display: flex;
        color: darken($color: $activeColor, $amount: 25);
        text-decoration: none;
        padding: 16px 2.5rem;
        text-transform: uppercase;
        font-size: 1rem;
        justify-content: left;

        .Icon,
        .Label {
            display: block;
        }

        .Icon {
            display: block;
            margin-top: 5px;
            font-size: 1.5rem;
            padding-right: 1rem;
        }

        .Label {
            display: block;
            margin-top: 0.55rem;
            text-align: left;
            justify-content: center;
        }
    }

    &.Active {
        a {
            color: $activeColor;
        }
    }
}
