$primary-color: #fff;
$primary-text-color: #000;
$secondary-color: #041d43;
$secondary-text-color: #fff;
$danger-color: #d32f2f;
$success-color: #388E3C;
$warning-color: #FBC02D;
$disable-color: #9E9E9E;
$theme-gradient: linear-gradient(201.05deg, #040944 -4.78%, #04A2DD 95.81%);