@import "../../../scss/global";

.DriverInfoButton {
    float: right;
    border: 0;
    background-color: transparent;
    color: $disable-color;
    cursor: pointer;
    outline: none;
    padding: 10px;

    &, & span {
        font-size: 1.5rem;
    }
}
