@import "../../../scss/global";

.Tabs__Tabs {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    list-style: none;
    padding: 5px 5px 0 5px;
    margin: 0;
    background-color: $disable-color;

    li {
        display: inline-block;

        a {
            padding: 12px 18px;
            cursor: pointer;
            text-decoration: none;
            text-transform: uppercase;
            color: darken($color: $disable-color, $amount: 25);
            font-weight: 525;
            display: flex;
            outline: none;

            > span {
                display: block;
            }

            .Dot {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: $danger-color;
            }

            .Text {
                display: none;
                font-size: 16px;
                margin-left: 10px;
                margin-top: 2px;
            }

            @media (min-width: 993px) {
                .Text {
                    display: block;
                }
            }
        }

        a.Active {
            background-color: $primary-color;
            color: $secondary-color;
            border: 0.5px solid $primary-text-color;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            border-bottom: 0;
        }
    }
}

.Content {
    padding: 10px 12px;
}
